#map {
  padding:20px;
  background-color: #ff0000;
}

.ki {
  color: #FFFF00;
}

.land {
  fill: #363531;
}

.point {
  fill: #cdd;
}

.link {
  stroke: #ccc;
}

.zero {
  fill: #ete19a;
  stroke: #909; stroke-width: 10;
}

.ni {
  fill: #ff8499;
}
.yon {
  fill: #93bbff;
}
.roku {
  fill: #8fbdba;
}
.hachi {
  fill: #cd863d;
}
.ju {
  fill: #9c566e;
}